/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/previews/
/storage/bbassets/
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/vendor
/resources/views/themes/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/app/Http/Controllers/TestController.php
/resources/views/test
